NodeMQTT.json
[
    {
        "id": "4b12215a927c17ec",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c538a5de87ac1135",
        "type": "ui_clock",
        "z": "4b12215a927c17ec",
        "name": "Reloj análogico",
        "group": "151725aebfccfccb",
        "order": 1,
        "width": "0",
        "height": "0",
        "x": 420,
        "y": 20,
        "wires": []
    },
    {
        "id": "bc36ed63b7ad7c2e",
        "type": "inject",
        "z": "4b12215a927c17ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "c538a5de87ac1135"
            ]
        ]
    },
    {
        "id": "88b2ca8e575d1ba1",
        "type": "mqtt out",
        "z": "4b12215a927c17ec",
        "name": "",
        "topic": "test/temperatura",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d90ee9881e553474",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "84768777ce17a136",
        "type": "debug",
        "z": "4b12215a927c17ec",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 240,
        "wires": []
    },
    {
        "id": "86d03ec3245b468a",
        "type": "ui_chart",
        "z": "4b12215a927c17ec",
        "name": "Chart Humedad",
        "group": "767c243769266c3a",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos...",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0400ff",
            "#0400ff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0bf8f4bf2dc1366c",
        "type": "ui_chart",
        "z": "4b12215a927c17ec",
        "name": "Chart Temperatura",
        "group": "b5f0878549079614",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos...",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "772e1bd34cbe484b",
        "type": "mqtt in",
        "z": "4b12215a927c17ec",
        "name": "test/datos",
        "topic": "test/datos",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d90ee9881e553474",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 140,
        "wires": [
            [
                "5526e38f671e8a53",
                "d7e64a71241fb53a",
                "84768777ce17a136",
                "bc0475e7eab1d5a0"
            ]
        ]
    },
    {
        "id": "1b803cfaa246d01a",
        "type": "mqtt out",
        "z": "4b12215a927c17ec",
        "name": "",
        "topic": "test/humedad",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d90ee9881e553474",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "5526e38f671e8a53",
        "type": "function",
        "z": "4b12215a927c17ec",
        "name": "parseTemp",
        "func": "var input = msg.payload;\nvar dataAsList = input.split(\"|\");\nmsg.payload = parseFloat(dataAsList[0]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 80,
        "wires": [
            [
                "88b2ca8e575d1ba1"
            ]
        ]
    },
    {
        "id": "d7e64a71241fb53a",
        "type": "function",
        "z": "4b12215a927c17ec",
        "name": "parseHum",
        "func": "var input = msg.payload;\nvar dataAsList = input.split(\"|\");\nmsg.payload = parseFloat(dataAsList[1]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "1b803cfaa246d01a"
            ]
        ]
    },
    {
        "id": "e41540aa7b39c8bf",
        "type": "mqtt in",
        "z": "4b12215a927c17ec",
        "name": "test/temperatura",
        "topic": "test/temperatura",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d90ee9881e553474",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "0bf8f4bf2dc1366c",
                "e0e41586482b68c8",
                "c2b6af22430c1ce0"
            ]
        ]
    },
    {
        "id": "30babc6e8b251752",
        "type": "mqtt in",
        "z": "4b12215a927c17ec",
        "name": "test/humedad",
        "topic": "test/humedad",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d90ee9881e553474",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "86d03ec3245b468a",
                "4e72f32d4c213b97",
                "6d41a019e681a417"
            ]
        ]
    },
    {
        "id": "e0e41586482b68c8",
        "type": "ui_text",
        "z": "4b12215a927c17ec",
        "group": "b5f0878549079614",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Current Temperatura",
        "label": "Últ. lectura:",
        "format": "{{msg.payload}}°C",
        "layout": "row-spread",
        "className": "",
        "x": 360,
        "y": 360,
        "wires": []
    },
    {
        "id": "4e72f32d4c213b97",
        "type": "ui_text",
        "z": "4b12215a927c17ec",
        "group": "767c243769266c3a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Current Humedad",
        "label": "Últ. lectura:",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 480,
        "wires": []
    },
    {
        "id": "c2b6af22430c1ce0",
        "type": "ui_chart",
        "z": "4b12215a927c17ec",
        "name": "Historic Temperatura",
        "group": "7c6c2f72cab2842c",
        "order": 0,
        "width": "12",
        "height": "8",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos...",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6d41a019e681a417",
        "type": "ui_chart",
        "z": "4b12215a927c17ec",
        "name": "Historic Humedad",
        "group": "2597742540ed9fef",
        "order": 0,
        "width": "12",
        "height": "8",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos...",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0400ff",
            "#0400ff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9a3538b3de0a55e5",
        "type": "ui_switch",
        "z": "4b12215a927c17ec",
        "name": "",
        "label": "Encender",
        "tooltip": "",
        "group": "60347f417d934660",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 740,
        "wires": [
            [
                "8118d6b086eece0a",
                "06e8ff61ec49680b"
            ]
        ]
    },
    {
        "id": "06e8ff61ec49680b",
        "type": "mqtt out",
        "z": "4b12215a927c17ec",
        "name": "",
        "topic": "test/extractor",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d90ee9881e553474",
        "x": 670,
        "y": 740,
        "wires": []
    },
    {
        "id": "68be86ded5e5a977",
        "type": "mqtt in",
        "z": "4b12215a927c17ec",
        "name": "test/luz",
        "topic": "test/extractor",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d90ee9881e553474",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 840,
        "wires": [
            [
                "c9508b7852d226b0"
            ]
        ]
    },
    {
        "id": "aecc44f46fb068bc",
        "type": "ui_gauge",
        "z": "4b12215a927c17ec",
        "name": "",
        "group": "60347f417d934660",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Desempeño Ventilación",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 590,
        "y": 840,
        "wires": []
    },
    {
        "id": "b7a8e135d7af6b00",
        "type": "ui_chart",
        "z": "4b12215a927c17ec",
        "name": "Chart Electroconductividad",
        "group": "82ecbaa0d55a84de",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos...",
        "dot": true,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffff00",
            "#0400ff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "6f758f94a1e8ddf2",
        "type": "mqtt in",
        "z": "4b12215a927c17ec",
        "name": "test/electroconduct",
        "topic": "test/electroconduct",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d90ee9881e553474",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "7c9e21bb862f9b70",
                "b7a8e135d7af6b00",
                "af2964b2b9a4f025"
            ]
        ]
    },
    {
        "id": "7c9e21bb862f9b70",
        "type": "ui_text",
        "z": "4b12215a927c17ec",
        "group": "82ecbaa0d55a84de",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Current EC",
        "label": "Últ. lectura:",
        "format": "{{msg.payload}}ms/cm",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 640,
        "wires": []
    },
    {
        "id": "af2964b2b9a4f025",
        "type": "ui_chart",
        "z": "4b12215a927c17ec",
        "name": "Historic Electroconductividad",
        "group": "754d53768fb9037e",
        "order": 0,
        "width": "10",
        "height": "8",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos...",
        "dot": true,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffff00",
            "#0400ff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b834af42f693900f",
        "type": "mqtt out",
        "z": "4b12215a927c17ec",
        "name": "test/electroconduct",
        "topic": "test/electroconduct",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d90ee9881e553474",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "bc0475e7eab1d5a0",
        "type": "function",
        "z": "4b12215a927c17ec",
        "name": "parseEC",
        "func": "var input = msg.payload;\nvar dataAsList = input.split(\"|\");\nmsg.payload = parseFloat(dataAsList[2]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "b834af42f693900f"
            ]
        ]
    },
    {
        "id": "c9508b7852d226b0",
        "type": "function",
        "z": "4b12215a927c17ec",
        "name": "parsePerformance",
        "func": "var input = msg.payload;\nif (input) {\n    msg.payload = Math.round(Math.random() * 100);\n} else {\n    msg.payload = 0\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 840,
        "wires": [
            [
                "aecc44f46fb068bc"
            ]
        ]
    },
    {
        "id": "8118d6b086eece0a",
        "type": "ui_led",
        "z": "4b12215a927c17ec",
        "order": 2,
        "group": "60347f417d934660",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 470,
        "y": 780,
        "wires": []
    },
    {
        "id": "bed6840abb4ef471",
        "type": "ui_template",
        "z": "4b12215a927c17ec",
        "group": "151725aebfccfccb",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style type=\"text/css\">\n    body {\n        background-image: url(\"https://www.todofondos.net/wp-content/uploads/4k-wallpaper-lovely-4k-minimalist-wallpaper-67-imagen-autos-recientes-scaled.jpg\");\n        background-size: cover;\n        background-repeat: no-repeat;\n    }\n    .nr-dashboard-cardpanel {\n        background: initial;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 600,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "a1eef14f4894ce25",
        "type": "ui_spacer",
        "z": "4b12215a927c17ec",
        "name": "spacer",
        "group": "bfa4e1839cb146e7",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "b72dd3a13a1786fe",
        "type": "ui_spacer",
        "z": "4b12215a927c17ec",
        "name": "spacer",
        "group": "3a14465f4cf6aa88",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "151725aebfccfccb",
        "type": "ui_group",
        "name": "Hora",
        "tab": "b72630248c6f251b",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d90ee9881e553474",
        "type": "mqtt-broker",
        "name": "SERVER",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "767c243769266c3a",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "b72630248c6f251b",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5f0878549079614",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "b72630248c6f251b",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c6c2f72cab2842c",
        "type": "ui_group",
        "name": "Historic Temperatura",
        "tab": "3f999fe956acf3db",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2597742540ed9fef",
        "type": "ui_group",
        "name": "Historic Humedad",
        "tab": "d55209dea90c1c5f",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60347f417d934660",
        "type": "ui_group",
        "name": "Ventilación",
        "tab": "b72630248c6f251b",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82ecbaa0d55a84de",
        "type": "ui_group",
        "name": "Electroconductividad",
        "tab": "b72630248c6f251b",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "754d53768fb9037e",
        "type": "ui_group",
        "name": "Historic Electroconductividad",
        "tab": "a9024d6546ed2563",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a14465f4cf6aa88",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "b72630248c6f251b",
        "type": "ui_tab",
        "name": "Global",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3f999fe956acf3db",
        "type": "ui_tab",
        "name": "Temperatura",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d55209dea90c1c5f",
        "type": "ui_tab",
        "name": "Humedad",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a9024d6546ed2563",
        "type": "ui_tab",
        "name": "Electroconductividad",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]